
  .home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0 11%;
  }
  
  .text-content {
    flex: 1;
    max-width: 40%;
    padding: 20px 20px 30px 50px;
    z-index: 3;
    margin-top: -100px;
  }

  .text-content p{
    font-size: 19px;
    margin-bottom: 30px ;
  }
  
  .image-stack {
    position: relative;
    flex: 1;
    width: 100%;
    overflow: hidden;
    height: 700px;
    z-index: 1;
  }
  
  .bg-image {
    width: 100%;
    display: block;
    height: auto;
  }
  
  .mockup-image {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  
  .other-content {
    background-color: hsl(220, 16%, 96%);
    padding: 7% 11%;
    margin-top: -150px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 80px;
  }
  
  .card {
    flex: 1;
    min-width: 220px;
    max-width: 300px;
    text-align: left;
  }
  
  @media (max-width: 1024px) {
    .home-content {
      flex-direction: column-reverse;
      gap: 20px;
      padding: 0 5%; 
    }

    .text-content {
      margin-top: 0; 
      text-align: left; 
      padding: 20px 0;
      max-width: 100%;  
    }

    .image-stack {
      width: 100%;
      height: 500px;
    }
  
    .mockup-image {
      top: -60px;
    }
  
    .btn {
      width: 100%;
     
    }
  
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      max-width: 100%;
    }
  
    .other-content {
      margin-top: 0;
    }
  }
  
  @media (max-width: 768px) {
    .home-content {
      padding: 0 10%; 
    
    }
  }
  
  @media (max-width: 480px) {
    .home-content {
      padding: 0 5%; 
    }
  
    .mockup-image {
      top: -20px;
    }
  
    .image-stack {
      height: 300px;
    }
  
    .text-content h1 {
      font-size: 25px;
    }
  
    .text-content p {
      font-size: 15px;
    }
  
    .other-content {
      margin-top: 0px;
    }
  }
  