:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body{
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  
}

h1, h2, h3{
  
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

h1{
  font-size: 2.8em;
}

h2{
  font-size: 2em;
}

h3:hover{
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

h6{
  font-weight: 200;
  color: hsl(233, 8%, 62%);
}

p{
  color: hsl(233, 8%, 62%);
  line-height: 1.8;
  
}

.btn{
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(199, 65%, 40%));
  color: white;
  border-radius: 35px;
  padding: 20px 45px;
  transition: background-color 0.3s ease;
  border: 0cap;
  margin-top: 15px;
}