:root {
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0% 11%;
  max-width: 1440px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body{
  font-size: 18px;
}

p{
  color: hsl(233, 8%, 62%);
}