.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 11%;
  position: relative;
  margin-bottom: 15px;
}

.logo img {
  height: 23px;
  width: auto;
  margin-top: 4px;
}

.nav-li ul {
  display: flex;
  list-style: none;
  gap: 5px;
}

.nav-li li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  padding: 10px 25px;
  display: block;
  border-radius: 16px;
  transition: background-color 0.3s ease;
 
}

.nav-li li a:hover {
  background-color: hsl(233, 26%, 24%);
  color: white;
}

.nav-li li:last-child a {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(199, 65%, 40%));
  color: white;
  border-radius: 35px;
  padding: 8px 35px;
  margin-left: 100px;
  transition: background-color 0.3s ease;
  font-size: medium;
  margin-top: 0;
} 

.hamburger-icon {
  display: none;
  cursor: pointer;
}

.hamburger-icon img {
  width: 30px;
  height: auto;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
  }

  .nav-li {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: white;
    display: none;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .nav-li.open {
    display: block;
  }

  .nav-li ul {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .nav-li li {
    margin: 0;
  }

  .nav-li li:last-child a {
    margin-left: 0;
  }
}
